/**
 * Inspired by Shibboleth plugin for WordPress
 * @see https://github.com/michaelryanmcneill/shibboleth/blob/master/assets/css/shibboleth_login_form.css
 * Originally from Automattic's Jetpack SSO module (v5.3)
 * @see https://github.com/Automattic/jetpack/blob/5.3/modules/sso/jetpack-sso-login.css
 */

#loginform {
  /* We set !important because sometimes static is added inline */
  position: relative !important;
  padding-bottom: 92px;
}

.pb-cas-repositioned #loginform {
  padding-bottom: 26px;
}

#loginform #pb-cas-wrap,
#loginform #pb-cas-wrap * {
  box-sizing: border-box;
}

#pb-cas-wrap {
  position: absolute;
  bottom: 20px;
  padding: 0 24px;
  margin-left: -24px;
  margin-right: -24px;
  width: 100%;
}

.pb-cas-repositioned #pb-cas-wrap {
  position: relative;
  bottom: auto;
  padding: 0;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
}

.pb-cas-form-display #pb-cas-wrap {
  position: relative;
  bottom: auto;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

#loginform #pb-cas-wrap p {
  color: #777;
  margin-bottom: 16px;
}

#pb-cas-wrap a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.pb-cas-form-display #loginform > p,
.pb-cas-form-display #loginform > div {
  display: none;
}

.pb-cas-form-display #loginform #pb-cas-wrap {
  display: block;
}

.pb-cas-form-display #loginform {
  padding: 26px 24px;
}

.pb-cas-or {
  margin-bottom: 16px;
  position: relative;
  text-align: center;
}

.pb-cas-or::before {
  background: #E5E5E5;
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.pb-cas-or span {
  background: #fff;
  color: #555;
  position: relative;
  padding: 0 8px;
  text-transform: uppercase
}

.pb-cas-form-display #nav {
  display: none;
}

.pb-cas-form-display #backtoblog {
  margin: 24px 0 0;
}

.pb-cas-clear::after {
  content: "";
  display: table;
  clear: both;
}

.pb-cas-repositioned #pb-cas-wrap .button .dashicons {
  font-size: 24px;
}
